body {
    background-image: url("../img/image.jpg");
    background-repeat: repeat;
    background-size: cover;
    background-color: rgba(255,255,255,0.05);
    background-blend-mode: lighten;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

}

.form {
    background-color: darkslategray;
    height: 70vh;
    width: 25rem;
    display: flex;
    flex-direction: column;
    border-radius: 5em;
    text-align: center;
    justify-content: center;
    gap: 1.5rem;
    border: 5px solid rgba(226, 219, 208, 0.47);
    padding: 2.5rem 4rem;
}

a {
    color: whitesmoke;
}


.MuiInputLabel-root {
    color: whitesmoke !important;
}

.MuiInputLabel-root.Mui-focused {
    color: whitesmoke !important;
}

.MuiInputBase-input {
    color: whitesmoke !important;
}


.MuiOutlinedInput-notchedOutline {
    border-color: whitesmoke !important;
}

.MuiSvgIcon-root {
    color: darkslategray !important;
}

.MuiTypography-h3 {
    font-weight: bold !important;
    margin-bottom: 2rem !important;
    color: whitesmoke !important;
}

.MuiButtonBase-root {
    color: darkslategray !important;
    background-color: #E2DBD0 !important;
    font-weight: bold !important;
}
